.select-root {
  display: flex;
  width: 250px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.select-root:hover {
  border-color: #000;
}

.select-value {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 0 10px;
  font-style: 18px;
  text-align: left;
}

.select-arrow-button {
  width: 10%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-items-container {
  position: fixed;
  /* min-width: 120px; */
  max-height: 300px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  overflow-x: hidden;
}

.select-items-list {
  margin: 0;
  padding: 8px 0;
  list-style: none;
}

.select-items-list li {
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.select-items-list li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}